<app-adminheader></app-adminheader>
<section class="hero-home bg-cover bg-center" style="background-image: url('assets/images/Car Insurance.jpg'); background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;" >

<div class="container index-forward py-5 mb-5">
    <div class="row text-white">
      <div class="col-lg-8">
        <h1 class="text-uppercase mb-0 text-shadow">Four Wheeler Insurance</h1>
        <p class="h5 my-4 text-shadow">View all the Orders Placed by the Customers</p>
        <p>What are you waiting for?</p><a class="btn btn-light text-primary px-5" routerLink="/admin-orders">View details</a>
      </div>
    </div>
  </div>
<div class="product-list">
</div>
</section>
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 mb-4 mb-lg-0">
          <h2 class="h5 lined text-white mb-4">About</h2>
          <p class="text-muted text-small">Join us to clain your insurace for all your four wheelers</p>
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a class="social-link" href="#">Akshitha</a></li>
            <li class="list-inline-item"><a class="social-link" href="#">Navya</a></li>
            <li class="list-inline-item"><a class="social-link" href="#">Nikhitha</a></li>
            <li class="list-inline-item"><a class="social-link" href="#">Vishvapriya</a></li>
          </ul>
        </div>
        <div class="col-lg-5 mb-4 mb-lg-0">
          <h2 class="h5 text-white lined mb-4">How it works</h2>
          <div class="d-flex">
            <ul class="list-unstyled d-inline-block mr-4 mb-0">
              <li class="mb-2"><a class="footer-link" href="#">Careers </a></li>
              <li class="mb-2"><a class="footer-link" href="#">Terms of Service</a></li>
            </ul>
            <ul class="list-unstyled d-inline-block mb-0">
              <li class="mb-2"><a class="footer-link" href="/admin">Home </a></li>
              <li class="mb-2"><a class="footer-link" href="#">About us</a></li>
              <li class="mb-2"><a class="footer-link" href="#">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <h2 class="h5 text-white lined mb-4"> Four Wheeler Insurance</h2>
          <p class="text-muted text-small">Send your querries to us</p>
          <div class="input-group mb-3">
            <input class="form-control text-muted bg-none border-primary" type="text" placeholder="Enter your querries" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
