.container{
    background-color:lightgray;
    padding:10px;
}
.cart-items{
    display:inline-block;
    margin:20px;
    padding:15px;
}
.carttable{
    background-color: aliceblue;
}
img{
   height:150px;
   width:150px;
}