<app-header></app-header>
<section class="hero-home bg-cover bg-center vh-100" style="
    background-image: url('assets/images/thankyouemoji.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  ">
<div class="container mt-5 index-forward">
    <h2 class="text-center">Thank You For Applying Policy with Us</h2>
    <button class="btn btn-outline-warning rounded-pill float-right btn-outline-primary rounded-pill" routerLink="/myOrders">click here to view ordered policy</button>
    <h3 class="text-center"></h3> 
</div></section>
<app-contact></app-contact>