<app-adminheader></app-adminheader>
<section class="hero-home bg-cover bg-center vh-100" style="background-image: url('assets/images/Car Insurance.jpg'); background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;" >
<div class="container index-forward mt-5 bg-transparent" *ngIf="! isEmpty; else noProductAdded">
  
    <h1 class="text-center" class="text-center text-uppercase text-shadow mb-0 text-light">List Of Policies</h1>
    <div class="product-table text-center">
        <br><br>
        <table class="table table-hover">
            <thead class="thead-dark">
                <th scope="col">Policy Id</th>
                <th scope="col">Policy Name</th>
                <th scope="col">Policy Price</th>
                <th scope="col">Number of years of plan</th>
                <th scope="col">claim Amount</th>
                <th scope="col" colspan="2">Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td>{{product.policyName}}</td>
                    <td>{{product.policyPrice}}</td>
                    <td>{{product.numberOfYearsPlan}}</td>
                    <td>{{product.claimAmount}}</td><td>
                       <button class="btn btn-primary rounded-pill" (click)="editProduct(product)">Edit</button>
                    </td>
                    <td>
                        <button class="btn btn-danger rounded-pill" (click)="deleteProduct(product.id)">delete</button>
                     </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container index-forward mt-5 bg-transparent" >
    <button class="btn btn-warning rounded-pill float-md-right" (click)="addProduct()">Add</button>
    </div>
<ng-template #noProductAdded>
    <h1 style="text-align:center;color:rgb(237, 237, 227);">No Product Added Yet</h1>
</ng-template>
