<section class="hero-home bg-cover bg-center vh-100" style="background-image: url('assets/images/Car Insurance.jpg'); background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;" >
<div class="container mt-5  index-forward bg-transparent" >
   <div *ngIf="!isPresent">
       <h5 class="text-center text-danger" *ngIf="errorMessage">{{errorMessage}}</h5>
       <h3 class="text-center">Verify Your Emailid</h3>
    <form #forgotpassword="ngForm" (ngSubmit)="validateEmailId()" novalidate>
        <div class="form-group">
            <label for="emailId">Enter Your EmailId</label>
            <input type="text" name="emailId" class="form-control"
                [class.is-invalid]="emailId.invalid && emailId.touched" [(ngModel)]="customerEmail" #emailId="ngModel"
                pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" required placeholder="Enter Your Emailid">

            <div *ngIf="emailId.invalid  && emailId.touched">
                <small class="text-danger" *ngIf="emailId.errors.required">*EmailId is required</small>
                <small class="text-danger" *ngIf="emailId.errors.pattern">*Invalid EmailId</small>
            </div>
        </div>
        <button class="btn btn-warning rounded-pill" type="submit">Submit</button>
        <button class="btn btn-primary float-right  rounded-pill bg-dark" routerLink="/">Back</button> 
    </form>
</div>
    <div class="change-password" *ngIf="isPresent">
        <h3 class="text-center">Change Your password</h3>
        <h5 class="text-center text-success" *ngIf="message">{{message}}</h5>
        <h5 class="text-danger text-center" *ngIf="passwordErrorMessage">{{passwordErrorMessage}}</h5>
        <form #resetpassword="ngForm" (ngSubmit)="resetPassword(resetpassword)" novalidate>
            <div class="form-group">
                <label for="username">Enter Your userName</label>
                <input type="text" ngModel #username="ngModel" name="username" [class.is-invalid]="username.invalid && username.touched" class="form-control" required placeholder="Enter Your username">
                <small class="text-danger" *ngIf="username.invalid && username.touched">*Username is requried</small>
            </div>

            <div class="form-group">
                <label for="newpassword">Enter New Password</label>
                <input type="password" name="newpassword" ngModel #newpassword="ngModel" class="form-control" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" placeholder="Enter Your new Password">
                <div *ngIf="newpassword.invalid && newpassword.touched">
                    <small class="text-danger" *ngIf="newpassword.errors.required">*New Password is Required</small>
                    <small class="text-danger" *ngIf="newpassword.errors.pattern">*Password Criteria not met</small>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmpassword">Enter Your New Password again</label>
                <input type="password" ngModel #confirmpassword="ngModel" name="confirmpassword" class="form-control" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" placeholder="Enter Your new Password Again">
                <div *ngIf="confirmpassword.invalid && confirmpassword.touched">
                    <small class="text-danger" *ngIf="confirmpassword.errors.required">*Confirm password is Required</small>
                    <small class="text-danger" *ngIf="confirmpassword.errors.pattern">*Password Criteria not met</small>
                </div>
            </div>
            <button class="btn btn-warning  rounded-pill" type="submit">Reset Password</button>&nbsp;
            <button class="btn btn-dark rounded-pill float-right" type="submit" routerLink="/">Login</button>
        </form>
    </div>
</div>