
.login-form{
    background-color: cadetblue;
    padding:18px;
    width:40%;
    margin: auto;
    opacity:1;
}
input.ng-touched.ng-invalid{
    border: 3px solid red;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}