.signup-form{
    background-color: slategray;
    padding:18px;
    width:50%;
    margin:auto;
}
label{
    font-weight: bolder;
}
h1{
    color:aliceblue;
    font-size:24px;
}
h4.success{
    color:greenyellow;
    font-size:16px;
}
h4.error{
    color:rgb(203, 46, 46);
    font-size:16px;
}
small{
    font-size:14px;
}