<div class="row">
  <div class="col-md-12">
    <form [formGroup]="recipeEditForm" (ngSubmit)="onSubmit()">
      <div class="recipe-data" formGroupName="recipeData">
        <div class="form-group">
          <label for="recipeName">Recipe Name</label>
          <input
            type="text"
            name="recipeName"
            id="recipeName"
            class="form-control"
            formControlName="recipeName"
          />
        </div>
        <p
          class="text-danger"
          *ngIf="
            recipeEditForm.get('recipeData.recipeName').touched &&
            recipeEditForm.get('recipeData.recipeName').invalid
          "
        ></p>
        <div class="form-group">
          <label for="recipeType">Recipe Type</label>
          <select
            name="recipeType"
            id="recipeType"
            class="form-control"
            formControlName="recipeType"
          >
            <option value="Non-Veg">Non-Veg</option>
            <option value="Veg">Veg</option>
          </select>
        </div>
        <div class="form-group">
          <label for="recipeCost">Recipe Cost</label>
          <input
            type="number"
            name="recipeCost"
            id="recipeCost"
            class="form-control"
            formControlName="recipeCost"
          />
        </div>
        <p
          class="text-danger"
          *ngIf="
            recipeEditForm.get('recipeData.recipeCost').touched &&
            recipeEditForm.get('recipeData.recipeCost').invalid
          "
        ></p>
      </div>
      <button class="btn btn-outline-success" type="submit">Edit</button>
    </form>
  </div>
</div>
