<nav class="navbar-expand-md  navbar-light py-4 border-bottom border-gray bg-white" style="background-image: url('assets/images/img3.jpg'); background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;">
    <div class="container-fluid index-forward align-items-center justify-content-between">
        <a class="navbar-brand" href="/admin">Four Wheeler Insurance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
    <div class="collapse navbar-collapse index-forward" id="navcontent" style="position: relative;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin" [routerLinkActiveOptions]="{exact:true}"
                    routerLinkActive='active'>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin-product" routerLinkActive='active'>Policies</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/admin-customer" routerLinkActive='active'>Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin-orders" routerLinkActive='active'>Orders Recieved</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/user-feedbacks" routerLinkActive='active'>FeedBacks Recieved</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user-profiles" routerLinkActive='active'>Customer Profile Recieved</a>
            </li>


        </ul>
        <div class="admin-sec">
            <button class=" bg-primary btn rounded-pill  text-uppercase" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>